<section class="sign-up-form">
	<h1>sign up</h1>

	<div class="sign-up-name">Name:</div>
	<input type='text' ng-model="signUpInfo.name">

	<div class="sign-up-password">Password:</div>
	<input type='text' ng-model="signUpInfo.password">
	<div class="sign-up-repassword">Re-enter Password: </div>
	<input type='text' ng-model="signUpInfo.repassword">

	<div class="sign-up-gender">Gender:</div>
	<input type="radio" name="gender" id="male" value="Male" ng-model="signUpInfo.gender">
	<label for="male">Male</label>
	<br>
	<input type="radio" name="gender" id="female" value="Female" ng-model="signUpInfo.gender">
	<label for="female">Female</label>
	<br>
	<input type="radio" name="gender" id="other" value="Perfer not to say" ng-model="signUpInfo.gender">
	<label for="other">Perfer not to say</label>
	<br>

	<div class="sign-up-bio">Bio:</div>
	<textarea class="sign-up-bio-textarea" type="text" ng-model="signUpInfo.bio"></textarea>
	
	<button ng-click="signUp()">Sign Up</button>	
</section>
